<ion-content class="background">

  <ion-fab vertical="top" horizontal="start"  class="fab" >
    <h2 >Profil</h2>
  </ion-fab>

  <div class="foto" >
      <ion-avatar >
        <img src="https://i.pinimg.com/originals/90/a7/f6/90a7f67864acea71fb5ffed6aa6298cb.jpg">
      </ion-avatar>
  </div>  

    <ion-card-content >
      <ion-card >
        <ion-card-header color="light">
          <ion-card-title>No. Internet</ion-card-title>
          <ion-card-subtitle></ion-card-subtitle>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header color="light">
          <ion-card-title>Nama</ion-card-title>
          <ion-card-subtitle></ion-card-subtitle>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header color="light">
          <ion-card-title>No. HP</ion-card-title>
          <ion-card-subtitle></ion-card-subtitle>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header color="light">
          <ion-card-title>Email</ion-card-title>
          <ion-card-subtitle></ion-card-subtitle>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header color="light">
          <ion-card-title>Alamat</ion-card-title>
          <ion-card-subtitle></ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-card-content>

</ion-content>
