ion-content.background{
    --background:url(../../assets/utama.png) 0 0/100% 100% no-repeat;
  }


  .fab{
    margin-top: -10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Nunito', sans-serif; 
    color: white;
  }