.background {
  --background: url(../../assets/background.png) 0 0/100% 100% no-repeat;
}

.content {
  // position:fixed;
  // margin-top:310px;
  // margin-left:40px;
  position: fixed;
  left: 65px;
  right: 65px;
  top: 65%;
  transform: translateY(-60%);
}

.buttons-action {
  margin-left: 5px;
}

.signup-text {
  font-size: x-small;
  color: #a8a8a8;
  text-align: center;
  font-family: "Nunito", sans-serif;
  text-transform: none;
}

.signin-text {
  font-size: small;
  color: #a8a8a8;
  text-align: center;
  font-family: "Nunito", sans-serif;
  text-transform: none;
}

ion-input {
  background-color: #ededed;
  border-radius: 5px;
  font-size: small;
}

.actionbutton {
  background-color: #ff397f;
  color: white;
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 13px;
  font-size: small;
  font-family: "Nunito", sans-serif;
}

ion-checkbox {
  background: #ff397f;
  border-radius: 5px;
  --height: 10px;
  --width: 10px;
  --checkmark-color: white;
  --background-checked: #ff397f;
  --border-color: #ff397f;
}

.line {
  border-bottom: 1px solid grey;
  margin-bottom: 16px;
}

.fbbutton {
  background-color: #3b5998;
  border-radius: 6px;
  color: cornsilk;
  margin-bottom: 12px;
  font-family: "Nunito", sans-serif;
  text-transform: none;
}

.googlebutton {
  background-color: #ea4335;
  border-radius: 6px;
  color: cornsilk;
  margin-bottom: 40px;
  font-family: "Nunito", sans-serif;
  text-transform: none;
}
