<ion-content class="background">
  <ion-tabs >
    <ion-tab-bar slot="bottom" color="tertiary">
      <ion-tab-button tab="home">
        <ion-icon name="md-home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="profil">
        <ion-icon name="md-person"></ion-icon>
        <ion-label>Profil</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="pengaduan">
        <ion-icon name="md-mail"></ion-icon>
        <ion-label>Pengaduan</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="pengaturan">
        <ion-icon name="md-settings"></ion-icon>
        <ion-label>Pengaturan</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>

