ion-content.background{
    --background:url(../../assets/utama.png) 0 0/100% 100% no-repeat;
  }

  .actionbutton{
    background-color: #FF397F;
    color: white;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 13px;
    font-size: small;
    font-family: 'Nunito', sans-serif;
    border-radius: 5px;
  }

  .fab{
    margin-top: -10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Nunito', sans-serif; 
    color: white;
  }