ion-content.background {
  --background: url(../../assets/utama.png) 0 0/100% 100% no-repeat;
}
.user {
  font-size: 30px;
}

.grd {
  height: 200px;
}

.crd {
  height: 120px;
  background-color: #12256b;
  color: #a8a8a8;
}
.slide {
  margin-top: 10px;
}

.kosong {
  height: 200px;
}

h2 {
  color: white;
  font-weight: bold;
}
.fab {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
ion-card {
  color: white;
}
